<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Introducción a Flask</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <!--<article class='biglogo'>
      </article>-->
      <!-- #1 -->
      <article>
        <h1>
           Introducción a Flask <img src="../images/flask.png" />
        </h1>
        <p>
          <a href="http://javaguirre.net">Javier Aguirre</a>
          <br/>
          13 de Dic de 2011
          <br/>
          <a href="http://gigas.com">Gigas.com</a>
        </p>
        <div class="source">
            <a href="http://python-madrid.es/">Python Madrid</a> - Diciembre 2011
        </div>
      </article>

      <!-- #2 -->
      <article>
        <h3>Introducción</h3>
        <ul>
            <li>Conjunto de herramientas</li>
            <li>Núcleo sencillo</li>
            <li>Muy configurable y extensible</li>
            <li>Licencia BSD</li>
        </ul>
      </article>

      <!-- #3 -->
      <article>
        <h3>Componentes</h3>
        <ul>
            <li>Jinja2</li>
            <li>Werkzeug</li>
            <li>Cookies seguras</li>
            <li>Tests unitarios</li>
            <li>Depuración</li>
        </ul>
      </article>

      <!-- #4 -->
      <article>
        <h3>
            Inicio
        </h3>
        <pre>
from flask import Flask
app = Flask(__name__)

@app.route("/")
def index():
    return "Index"

if __name__ == "__main__":
    app.debug = True
    app.run()
        </pre>
        <div class="source">
            Fuente: <a href="http://flask.pocoo.org/">Flask web</a>
        </div>
      </article>

      <article>
        <h3>
            Modelo/BD
        </h3>
        <pre>
import sqlite3

# configuración
DATABASE = '/tmp/flask.db'
DEBUG = True
SECRET_KEY = 'development key'
USERNAME = 'admin'
PASSWORD = 'default'
        </pre>
        <pre>
#En la app...
from flask import Flask, request, session, g, redirect, url_for, \
     abort, render_template, flash
import myconfig

app = Flask(__name__)
app.config.from_object(myconfig)
#o ...
app.config.from_envvar('FLASK_SETTINGS', silent=True)
        </pre>
      </article>
      <article>
        <h3>
            Vista - Jinja2
        </h3>
        <pre>
{% extends "base.html" %}
{% block content %}
    {% if query %}
        <p>Resultados para {{ query }}</p>
    {% endif %}
    {% for link in links %}
        {{ link.title }} - {{ link.description }}
            <a href="{{ link.guid }}">[PDF]</a>
    {% endfor %}

{% endblock %}
        </pre>
      </article>
      <article>
        <h3>
            Controlador
        </h3>
        <pre>
@app.route('/')
def index():
    return 'Index Page'

@app.route('/user/&#60;username&#62;')
def show_user_profile(username):
    pass

@app.route('/post/&#60;int:post_id&#62;', methods = ['POST'])
def edit_post(post_id):
    pass
      </pre>
      <pre>
url_for('index')
url_for('login', username = 'Python Madrid')
      </pre>
      </article>
      <article>
      <h3>Variables POST</h3>
      <pre>
@app.route('/post/<int:post_id>', methods = ['POST'])
def edit_post(post_id):
   if request.method == 'POST':
       #Validar
       print request.form['myname']
      </pre>
      <h3>Cookies</h3>
      <pre>
@app.route('/')
def index():
    username = request.cookies.get('username')
      </pre>
      </article>
      <article>
        <h3>Redirecciones y errores</h3>
        <pre>
from flask import abort, redirect, url_for

@app.route('/')
def index():
    return redirect(url_for('login'))

@app.route('/login')
def login():
    abort(401)
    this_is_never_executed()

#Registrar página 404
@app.errorhandler(404)
def page_not_found(error):
    return render_template('page_not_found.html'), 404
        </pre>
      </article>
      <article>
        <h3>Extensiones</h3>
        <ul>
            <li>blueprints conjunto de funcionalidades</li>
            <li>factorías de aplicación</li>
            <li><a href="http://flask.pocoo.org/extensions/">Ejemplos</a></li>
        </ul>
        <div class="source">
            <a href="http://flask.pocoo.org/docs/extensiondev/">Documentación</a>
        </div>
      </article>
      <article>
        <h3>
          Referencias
        </h3>
        <ul>
            <li><a href="http://flask.pocoo.org/">Flask web</a></li>
            <li><a href="https://github.com/mitsuhiko/flask">Flask Github</a></li>
            <li><a href="http://werkzeug.pocoo.org/">Werkzeug</a></li>
            <li><a href="http://jinja.pocoo.org/">Jinja 2</a></li>
        </ul>
        <br />
        <p>Presentación en... <a href="https://github.com/javaguirre/flask-slides">github</a></p>
      </article>

      <article>
        <h3>
          ¿Preguntas?
        </h3>

        <ul>
          <li><a href="http://javaguirre.net">Blog</a></li>
          <li>contacto EN javaguirre PUNTO net</li>
          <li>
            <a href='http://twitter.com/javaguirre'>@javaguirre</a>
          </li>
          <li>
            <a href='http://www.github.com/javaguirre'>Github</a>
          </li>
          <li>
            <a href='http://es.linkedin.com/in/javaguirre'>LinkedIn</a>
          </li>

        </ul>
      </article>

    </section>

  </body>
</html>
